<div class="js-wp-3">
  <div *ngIf="catalogsToShow[0]" class="row collection-first-row ">
    <div class="col-12 col-md-4">
      <span class="description">
        Bacon ipsum dolori amet meat, tri-ip andouile, picanha
      baccon salami burgdohgenn turkdoggen chuck pig t-bone.
      </span>
      <span class="link"><a class="shop" href="">See all collection</a></span>
    </div>

    <div class="col-12 col-md-8">
      <div class="row">
        <div class="col-6 collection-img">
          <div class="img-container" [ngClass]="getRandomBgClass(0)">
            <img src="assets/img/products/product1.png"/>
          </div>

        </div>
        <div class="col-6 collection-item-header">
          <div class="collection-item-header-block">
            <span class="heading">COLLECTION</span>
            <span class="title">{{catalogsToShow[0].name}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="catalogsToShow[1] || catalogsToShow[2] " class="row collection-second-row">
    <div *ngIf="catalogsToShow[1]" class="col-12 col-md-6 collection-column">
      <div class="row">
        <div class="col-6">
          <div class="img-container" [ngClass]="getRandomBgClass(1)">
            <img src="assets/img/products/product2.png">
          </div>

        </div>
        <div class="col-6 collection-item-header">
          <div class="collection-item-header-block">
            <span class="heading">COLLECTION</span>
            <span class="title">{{catalogsToShow[1].name}}</span>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="catalogsToShow[2]" class="col-12 col-md-6 collection-column">
      <div class="row">
        <div class="col-6">
          <div class="img-container" [ngClass]="getRandomBgClass(2)">
            <img src="assets/img/products/product3.png">
          </div>

        </div>
        <div class="col-6 collection-item-header">
          <div class="collection-item-header-block">
            <span class="heading">COLLECTION</span>
            <span class="title">{{catalogsToShow[2].name}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="catalogsToShow[3]" class="row collection-third-row">
    <div class="col-12 col-md-8 collection-column">
      <div class="row">
        <div class="col-6">
          <div class="img-container" [ngClass]="getRandomBgClass(3)">
            <img src="assets/img/products/product4.png">
          </div>

        </div>
        <div class="col-6 collection-item-header">
          <div class="collection-item-header-block">
            <span class="heading">COLLECTION</span>
            <span class="title">{{catalogsToShow[3].name}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
