
/* ANIMATIONS */

.js-wp-1 {
  opacity: 0;
  animation-delay: 0.2s;
}

.js-wp-1.animated {
  opacity: 1;
}


.js-wp-2 {
  opacity: 0;
  animation-delay: 0.2s;;
}

.js-wp-2.animated {
  opacity: 1;
}

.js-wp-3 {
  opacity: 0;
  animation-delay: 0.2s;
}

.js-wp-3.animated {
  opacity: 1;
}

.js-wp-4 {
  opacity: 0;
}

.js-wp-4.animated {
  opacity: 1;
  animation-delay: 0.2s;
}


