
$font-stack: Graphie-Regular,
sans-serif;
$default-font-size: 15px;
$primary-color: #fff;
$secondary-color: #000;
$bg-white-blue: #f0f0f0;
$bg-white-grey: #f0f0f0;
$bg-blue: #c0dae9;
$bg-red-blue: #efebec;
$bg-grey: #bfbfbf;

@mixin default-link() {
  font-weight: 600;
  padding: 5px;
  border-bottom: 1px solid black;
  text-decoration: none;
}

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FONT FACES */
@font-face {
  font-family: '538lyons';
  src: local('538lyons.ttf'), url('assets/fonts/538lyons.ttf') format('truetype');
}

/* FONT FACES */
@font-face {
  font-family: 'perfectly_amicable';
  src: local('perfectly_amicable.ttf'), url('assets/fonts/perfectly_amicable.ttf') format('truetype');
}

/* FONT FACES */
@font-face {
  font-family: 'Graphie-Regular';
  src: local('Graphie-Regular.otf'), url('assets/fonts/Graphie-Regular.otf') format('opentype');
}

a.shop {
  @include default-link();
}

.fs-xs {
  font-size: 0.8em;
}

.fs-s {
  font-size: 1em;
}

.fs-m {
  font-size: 1.5em;
}

.fs-l {
  font-size: 2em;
}

.fs-xl {
  font-size: 2.5em;
}

.fw-s {
  font-weight: 600;
}

.fw-m {
  font-weight: 800;
}

.fw-l {
  font-weight: bold;
}

.pl-6, .px-6 {
  padding-left: 5rem!important;
}

.bg-blue {
  background-color: $bg-blue;
}

.bg-red-blue {
  background-color: $bg-red-blue;
}

.bg-black {
  background-color: $secondary-color;
}

.bg-white-grey {
  background-color: $bg-white-grey;
}

.bg-white-blue {
  background-color: $bg-white-blue;
}

.pointer {
  cursor: pointer;
}

.flex-center {
  @include flex-center();
}

.flex-center-vertical {
  display: flex;
  align-items: center;
}

.flex-center-horizontal {
  display: flex;
  justify-content: center;
}


* {
  //border: 1px solid black;;
}

body {
  font-family: 'Graphie-Regular', monospace;
  font-size: $default-font-size;
  background-color: $primary-color;
}

a {
  text-decoration: none;
  color: $secondary-color;
}

.black-button {
  position: absolute;
  font-size: 0.9em;
  border-radius: 0;
  color: #fff;
  background-color: black;
  padding: 10px 25px;
}

.black-button:hover {
  color: black;
  background-color: #fff;
  border: 1px solid black;
}

.modal-close {
  display: block;
  position: absolute;
  background: none;
  right: 0;
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  z-index: 99999;
}
