
header {
  padding: 25px 50px !important;
  position: relative;

  .shopping-cart {
    position: relative;

    .count {
      display: block;
      position: absolute;
      top: -7px;
      right: -12px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      line-height: 20px;
      color: #fff;
      font-size: 10px;
      background: $bg-grey;
      text-align: center;
    }
  }

  .search-wrap {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
  }

  .search-wrap .container {
    position: relative;
    height: 100%;
  }

  .search-wrap.active {
    opacity: 1;
    visibility: visible;
  }

  .search-wrap .form-control {
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: none;
    z-index: 3;
    font-size: 40px;
  }

  @media (max-width: 991.98px) {
    .search-wrap .form-control {
      font-size: 20px;
    }
  }

  .search-wrap .search-close {
    z-index: 4;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .search-wrap .search-close span {
    font-size: 30px;
  }

}

#main {
  margin-top: 60px;
}

.owl-carousel .owl-item img {
  width: 70%;
  margin: auto;
}

.carouselCommerce {
  padding: 0 10%;

  .carousel-left-captions {
    .title {
      display: block;
      font-size: 3em;
      font-weight: bold;
    }

    .vertical-line {
      display: block;
      margin-top: 20px;
      float: left;
      height: 10%;
      width: 100%;
      border-left: 1px solid black;
    }

    .carousel-categories {
      display: inline-flex;
      margin-top: 45px;
      margin-left: -35px;

      ul {
        list-style: none;

        li {
          font-size: 0.8em;
          font-weight: 600;
          line-height: 3.5em;
          color: $bg-grey;
        }

        li.active {
          color: #000;
        }
      }
    }
  }

  .carousel-right-captions {
    @include flex-center();
    flex-direction: column;
    line-height: 2.5em;
    padding-left: 30px;

    .category {
    }

    .title {
      font-size: 2em;
      font-weight: 700;
    }
  }

  .owl-dots {
    margin-top: 40px !important;
  }
}

.carousel-shop-button {
  display: flex;


  button {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 10px;
    font-weight: 600;
    margin-top: -60px;
    margin-right: 90px;
    border: 2px solid black;
    color: black;
    border-radius: 0;
  }

  button:hover {
    background-color: black;
    border: 2px solid white;
    color: #fff;
  }
}

#outdoors-indoors {
  margin-top: 50px;
  padding: 50px;

  .outdoor-indoor-card {
    padding: 0 2em;
  }

  .outdoor, .indoor {
    //margin-left: 15%;
    height: 500px;

    .header {
      padding-top: 70px;
      padding-left: 50px;
    }

    .title {
      display: block;
      font-size: 1.7em;
      font-weight: 700;
    }

    .heading {
      display: block;
      margin-top: 10px;
      font-size: 0.8em;
      color: $bg-grey;
      font-weight: 600;
    }

    .image {
      text-align: center;

      img {
        max-width: 200px;
      }
    }

    .footer {
      position: absolute;
      display: block;
      bottom: 10%;
      right: 10%;
    }
  }
}

.popular-items-header, .collection-items-header {
  .header {
    padding: 0 5em;

    .title {
      //font-size: 1.8em;
      //font-weight: bold;
    }

    .heading {
      //margin-left: 20px;
      color: $bg-grey;
    }
  }
}

.pop-section {
  padding: 0 12em;
  margin-top: 5em;
}

#product-items {

  .popular-items-list {
    .popular-items-column {
      padding: 5em;
    }

    .card {
      height: 300px;

      img {
        max-width: 65%;
        max-height: 200px;
        margin: auto;
      }
    }


    .footer {
      margin-top: 1em;
      line-height: 1.5em;

      .product-name {
        font-weight: bold;
        margin-right: 20px;
      }

      .product-owner {
        color: $bg-grey;
      }

      .product-price {
        display: block;
        //font-weight: 600;
        color: $bg-grey;
      }
    }
  }
}

#collection-items {
  padding: 0 12em;
  margin-top: 10em;

  .collection-first-row {
    padding-left: 4em;
    margin-top: 10em;

    .description {
      display: block;
      line-height: 2em;
      font-size: 0.8em;
      font-weight: 500;
      //padding-right: 200px;
      width: 40%;
    }

    .link {
      display: block;
      margin-top: 4em;


    }

    .collection-img {

      padding-right: 7em;

      .img-container {
        //background-color: #c0dae9;
        padding-bottom: 3em;

        img {
          max-height: 170px;
          display: block;
          margin: auto;
        }
      }

    }


  }

  .collection-second-row {
    padding-left: 4em;
    margin-top: 4em;

    .collection-column:nth-child(1) {
      padding-bottom: 150px;

      .img-container {
        //background-color: #f0f0f0;
      }
    }


    .collection-column:nth-child(2) {
      padding-top: 150px;

      .img-container {
        //background-color: #efebec;
      }
    }

    .img-container {
      @include flex-center();
      height: 400px;
      width: 80%;
      //padding-right: 120px;

      img {
        max-height: 170px;
      }
    }

  }

  .collection-third-row {
    padding-left: 4em;
    margin-top: 4em;

    .img-container {
      @include flex-center();
      height: 250px;
      width: 90%;
      //padding-right: 120px;

      img {
        max-height: 90%;
        max-width: 90%;
      }
    }
  }

  .collection-item-header {
    display: flex;
    align-items: center;
    //justify-content: center;

    .collection-item-header-block {
      line-height: 2em;
      margin-left: 20px;

      span {
        display: block;
      }

      .heading {
        font-size: 0.7em;
        font-weight: 600;
        color: #bfbfbf;
      }

      .title {
        font-size: 1.5em;
        font-weight: 700;
      }
    }
  }

}

#newsletter {
  padding: 0 12em;
  margin-top: 10em;

  .content {

    .description {
      //margin-top: 2em;
      width: 70%;
    }
  }

  .form {
    margin-top: 20px;

    .send-button {
      position: absolute;
      bottom: 1rem;
      font-size: 0.9em;
      border-radius: 0;
      color: #fff;
      background-color: black;
      padding: 10px 25px;
    }

    .send-button:hover {
      color: black;
      background-color: #fff;
      border: 1px solid black;
    }

    .form-group {
      input {
        width: 100%;
        font-size: 0.9em;
        font-weight: bold;
        border: 1px solid black;
        padding: 10px 25px;
      }

    }
  }
}

#footer {
  padding: 0 8em;
  margin-top: 10em;
  margin-bottom: 2em;
  color: $bg-grey;

  .copyright {
    font-weight: 600;
  }

  .social-media-icons {
    float: right;
    text-align: right;

    a {
      img {
        padding: 0 10px;
        max-width: 50px;
      }
    }
  }

  .collections {
    ul {
      //@include flex-center();
      list-style-type: none;
      margin: auto;
      padding: 1em;
      text-align: center;


      li {
        font-weight: 600;
        padding: 0 10px;
        display: inline-block;
        width: 99% / 6;
        color: #858585;
      }
    }
  }
}

//Products page
#main-products {
  //margin-top: 4em;
  //padding: 0 7%;
  margin: 4em 5em;

  .main-header {
    .products-sorting {
      text-align: right;

      span {
        padding: 0 1em;
      }
    }
  }

  .main-content {
    margin: 6em 4em;

    .header {

      .filter-keywords {
        span {

        }
      }

      .btn-filter {
        float: right;
        border-radius: 0;
        color: black;
        background-color: #fff;
        padding: 5px 15px;
        border: 2px solid black;
      }

      .btn-filter:hover {
        color: #fff;
        background-color: black;
        //border: 1px solid black;
      }
    }

    .product-list {
      padding: 0 2em;
      margin-top: 0;
    }
  }
}

#product-pagination {
  margin: 4em 14em;
  //padding: 0 2em;
}

.need-help {
  .img-container {
    img {
      padding: 0 2em 3em 2em;
      max-width: 90%;
    }
  }

  .question-title {
    margin-top: 3em;
    padding: 3em 0;
  }

  .question-description {
    margin-bottom: 5em;

    .description {
      width: 50%;
    }
  }
}


.modal-dialog {
  max-width: 70%;
  margin: 20vh auto;
}

