
//Mobile

@media only screen and (min-width: 768px) {
  .d-only-mob {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .d-none-mob {
    display: none;
  }

  header {
    padding: 25px 0px !important;

    .dropleft .dropdown-toggle {
      position: absolute;
      right: 1em;
    }

  }

  #main-products .main-content {
    margin: 0;
  }

  #popular-items .popular-items-list .popular-items-column {
    margin-top: 3em;
    padding: 0;
  }

  .pop-section {
    padding: 1em;
    margin-top: 2em;
  }

  #product-pagination {
    margin: 4em 2em;
  }

  #footer .social-media-icons {
    /* float: right; */
    text-align: center;
  }

  #outdoors-indoors .outdoor-indoor-card {
    padding: 0;
    margin-bottom: 2em;
  }

  #outdoors-indoors .outdoor {
    margin-left: 0;
  }

  #outdoors-indoors .indoor {
    margin-right: 0;
  }

  #popular-items, #collection-items, #newsletter {
    padding: 0 2em;
  }

  #collection-items .collection-first-row, #collection-items .collection-second-row, #collection-items .collection-third-row {
    padding-left: 0;
  }

  #collection-items .collection-first-row .collection-img {
    padding-right: 0;
  }

  #collection-items .collection-second-row .collection-column:nth-child(2) {
    margin-top: 2em;
    padding-top: 0;
  }

  #collection-items .collection-second-row .collection-column:nth-child(1) {
    padding-bottom: 0;
  }

  .popular-items-header .header, .collection-items-header .header {
    padding: 0;
  }

  .need-help {
    .question-title {
      margin-top: 0;
    }

    .question-description {
      .description {
        width: 100%;
      }
    }
  }

  #main-products {
    margin: 0;

    .main-header {
      padding: 1em 2em;
    }

    .main-content {
      margin: 6em 0;

      .header {
        padding: 1em 2em;
      }
    }
  }

  .carousel-shop-button button {
    left: 0;
  }

  #product-items .popular-items-list .popular-items-column {
    padding: 1em;
    margin-top: 2em;
  }

  #footer {
    padding: 0 1em;

    .collections ul {
      //display: inline-block;
      font-size: 0.8em;
    }

    .copyright {
      text-align: center;
    }


  }
}


//Mobile
@media only screen and (min-width: 540px) and (max-width: 768px) {
  #popular-items .popular-items-list .popular-items-column {
    margin-top: 3em;
    padding: 2em;
  }


  #popular-items {
    //padding: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1140px) {
  #popular-items .popular-items-list .popular-items-column {
    padding: 1em;
  }

  #product-items .popular-items-list .popular-items-column {
    padding: 1em;
  }

  #main-products .main-content {
    margin: 2em 0;
  }

  #popular-items {
    padding: 0 2em;
  }

  #collection-items .collection-first-row .collection-img {
    padding-right: 0;
  }

  #collection-items {
    padding: 0 2em;
  }
}
