/*#preloader {*/
/*  position: fixed;*/
/*  left: 0;*/
/*  top: 0;*/
/*  z-index: 999;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  overflow: visible;*/
/*  background: #fff url("../img/pre-loader4.svg") no-repeat center center;*/
/*  background-size: 70px;*/
/*}*/

div#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  bottom: 0;
  right: 0;
  /*background: #ffffff5e;*/
  z-index: 9999;
}

/*div#loader-wrapper .action-loader-mobile {*/
/*  background: url("../img/pre-loader4.svg") no-repeat;*/
/*  background-size: 70px;*/
/*  height: 77px;*/
/*  width: 77px;*/
/*  display: block;*/
/*}*/

div#loader-wrapper .action-loader {
  background: url("../img/pre-loader.svg") no-repeat;
  background-size: 100px;
  height: 100px;
  width: 100px;
  display: block;
}
