/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
body {
  font: 100% Helvetica, sans-serif;
  font-size: 15px;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

header {
  padding: 25px;
}
header .nav-header-item {
  margin-top: auto;
}
header .logo {
  font-size: 2em;
  font-weight: bold;
}

#main {
  margin-top: 50px;
}

#carouselCommerce {
  height: 50px;
  padding: 0 10%;
}
#carouselCommerce .carousel-inner .carousel-item img {
  max-height: 30%;
}

/*# sourceMappingURL=styles.css.map */
