<div id="outdoors-indoors" class="row js-wp-1">

  <div class="col-12 col-md-6 outdoor-indoor-card">
    <div class="outdoor card bg-white-grey">
      <div class="header">
          <span class="title">
            Outdoors
          </span>
        <span class="heading">
            SHOP
          </span>
      </div>
      <div class="image">
        <img class="card-img" src="assets/img/outdoors.png"/>
      </div>
      <div class="footer">
        <span class="shop-link"><a class="shop" [routerLink]="['/public/products']">Shop Outdoors</a></span>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 outdoor-indoor-card">
    <div class="indoor card bg-blue">
      <div class="header">
          <span class="title">
            Indoors
          </span>
        <span class="heading">
            SHOP
          </span>
      </div>
      <div class="image">
        <img class="card-img" src="assets/img/indoors.png"/>
      </div>
      <div class="footer">
        <span class="shop-link"><a class="shop" href="#">Shop Indoors</a></span>
      </div>
    </div>
  </div>
</div>
