<section id="main-products">
  <div class="row main-header fs-xs fw-s">
    <div class="col-4 col-md-2">
      Home - h2
    </div>

    <div class="col col-md-6 d-none-mob">

    </div>

    <div class="col-12 col-md-4 products-sorting">
      <span>Sort by</span> : <span>Price</span> | <span>Rating</span> | <span>Brand</span>
    </div>
  </div>

  <div class="main-content">
    <div class="row header">
      <div class="col-12 col-md-2 title fs-m fw-s">
        Home Decor
      </div>
      <div class="col-8 col filter-keywords fs-xs mt-2">
        <span *ngFor="let filter of filters" class="mr-5"><i class="fas fa-times"
                                                             (click)="removeFilter(filter)"></i> {{filter.name}}</span>
        <!--        <span class="mr-5"><i class="fas fa-times"></i> Decor</span>-->
        <!--        <span class="mr-5"><i class="fas fa-times"></i> Decor</span>-->
      </div>
      <div class="col-4 col-md-2">
        <button class="btn btn-filter fs-xs fw-m" (click)="openFilterPopup()">Filter By</button>
      </div>
    </div>

    <app-product-list [productsToShow]="productsToShow"></app-product-list>
  </div>
</section>

<section id="product-pagination" class="fs-s fw-s">
  <div class="row">
    <div class="col-4 pointer" (click)="goToPrevious()">
      <span>Previous</span>
    </div>

    <div class="col-4 text-center ">
      <span>{{sectionSettings.index + 1}} / {{getTotalPages()}}</span>
    </div>

    <div class="col-4 pointer" (click)="goToNext()">
      <span class="float-right">Next</span>
    </div>
  </div>
</section>


<app-modal [title]="'Filters'"
           [type]=""
           [id]="'info'">

  <div class="row">
    <div class="col-12 col-md-6 collections">
      <ul>
        <li class="p-3 pointer" *ngFor="let catalog of catalogs" (click)="addFilter(catalog)"><a class="shop">{{catalog.name}}</a></li>
      </ul>
    </div>
  </div>


</app-modal>
