<div id="footer">
  <div class="row">
    <div class="col-12 col-md-3 copyright">
      &copy; Copyright Minim Website 2020
    </div>

    <div class="col-12 col-md-6 collections">
      <ul>
        <li>FIRST</li>
        <li>SECOND</li>
        <li>THIRD</li>
        <li>FOURTH</li>
        <li>FIFTH</li>
        <li>SIXTH</li>
      </ul>
    </div>


    <div class="col-12 col-md-3 social-media-icons">
      <a href=""><img src="assets/img/facebook-round-color.svg"></a>
      <a href=""><img src="assets/img/linkedin-round-color.svg"></a>
      <a href=""><img src="assets/img/twitter-round-color.svg"></a>
    </div>
  </div>
</div>
