<section id="newsletter">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="content float-right">
        <span class="title d-block fs-xl fw-l">
          Newsletter
        </span>
        <span class="description d-block fs-xs mt-3">
          Register now with our newsletter and get the latest updates available
        </span>
      </div>
    </div>
    <div class="col-12 col-md-6 form">
      <form [formGroup]="newsLetterForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-6">

            <div class="form-group">
              <input formControlName="name" type="text" name="name" placeholder="Name">
            </div>
            <div class="form-group">
              <input formControlName="email" type="email" name="email" placeholder="Email">
            </div>
          </div>
          <div class="col-6">
            <button class="btn send-button">Send</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>


<app-modal title=""
           [type]=""
           [id]="'info'">

  <div class="row need-help">
    <div class="col-12 col-md-6">
      <div class="img-container">
        <img src="assets/img/newsletter.jpg">
      </div>
    </div>

    <div class="col-12 col-md-6">

      <div class="row question-title">
        <div class="col-12">
          <div class="title fs-xl fw-l">
            Need Help?
          </div>
        </div>
      </div>


      <div class="row question-description">
        <div class="col-12">
          <div class="description">
            Start a live call with us now to have us attend to any of your enquiries.
          </div>
        </div>
      </div>


      <div class="row mt-5">
        <div class="col-6">
          <button class="btn black-button">Start Live Chat</button>
        </div>

        <div class="col-6">
          <a href="#" class="shop">Request for a call back</a>
        </div>
      </div>
    </div>
  </div>


</app-modal>
