<div class="modal fade" [id]="'modal-'+id" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content p-2">
      <button type="button" class="btn modal-close" aria-label="Close"
              (click)="closeModal()">
        <i class="fas fa-times"></i>
      </button>

      <div class="modal-body">
        <h2 class="text-center pb-4 flex-center"
            [ngClass]="{'text-success': type === 'confirm', 'text-danger': type === 'error'}">
          {{title |translate}}
        </h2>
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
