<div class="row">
  <div class="col-12">
    <owl-carousel [options]="SlideOptions" [items]="slides"
                  [carouselClasses]="['owl-theme', 'sliding','carouselCommerce']">
      <div class="item" *ngFor="let slide of slides; let i = index;">
        <div class="row">
          <div class="col-3 carousel-left-captions d-none-mob">
          <span class="title">
            Shop
          </span>
            <div class="vertical-line">
            </div>
            <div class="carousel-categories">
              <ul>
                <li [ngClass]="{'active': slide.category === 'Home Furmishings'}">Home Furmishings</li>
                <li [ngClass]="{'active': slide.category === 'Accessories'}">Accessories</li>
                <li [ngClass]="{'active': slide.category === 'Sports'}">Sports</li>
                <li [ngClass]="{'active': slide.category === 'Clothing Wear'}">Clothing Wear</li>
              </ul>
            </div>
          </div>
          <div class="col-6">
            <img [src]="slide.image" alt="carousel image">
          </div>
          <div class="col-3 carousel-right-captions">
            <div class="category">
              Limited edition
            </div>
            <div class="title">
              {{slide.name}}
            </div>
          </div>
        </div>
      </div>
    </owl-carousel>
  </div>
</div>

<div [routerLink]="['/public/products']" class="row carousel-shop-button">
  <div class="col-12">
    <button class="btn">Shop now</button>
  </div>
</div>
