<header class="container-fluid">
  <div class="search-wrap">
    <div class="container">
      <a href="#" class="search-close js-search-close" style=""><span class="icon-close2"><i
        class="fas fa-times"></i></span></a>
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <input type="text" formControlName="keyword" class="form-control" placeholder="Search keyword and hit enter...">
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-3 flex-center-vertical">
      <div class="row">
        <div class="col">
          <a class="" routerLink="['/public/home']"><img src="assets/img/menu.svg"
                                                         alt="triangle with all three sides equal"
                                                         height="30"
                                                         width="30"/></a>
        </div>
        <div class="col d-none-mob ml-5">
          <a class="fs-m js-search-open" href="#"><i class="fas fa-search"></i></a>
        </div>
      </div>

    </div>

    <div class="col-6 text-center fs-l fw-l">
      minim
    </div>

    <div class="col-3 d-none-mob">
      <div class="row">
        <div routerLink="['/private/account']" class="col fs-xs fw-s flex-center-vertical pointer">
          ACCOUNT
        </div>

        <div class="col">
          <a class="fs-m shopping-cart pointer" routerLink="['/public/cart']">
            <span><i class="fas fa-shopping-bag fw-s"></i></span>
            <span class="count">4</span>

          </a>
        </div>
      </div>
    </div>

    <!-- Default dropleft button -->
    <div class="btn-group dropleft col-3 d-only-mob">
      <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"><i class="fas fa-caret-down fs-xl "></i></span>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item js-search-open pointer">
          <span class="ml-1 mr-2"><i class="fas fa-search fw-s"></i></span>
          Search
        </a>
        <a class="dropdown-item pointer">
          <span class="ml-1 mr-2"><i class="fas fa-user fw-s"></i></span>
          Account</a>
        <a class="dropdown-item pointer">
          <span class="ml-1 mr-2"><i class="fas fa-shopping-bag fw-s"></i></span>
          Cart
        </a>
      </div>
    </div>
  </div>
</header>
