<div id="main">
  <!-- Carousel: One item + Arrows + Dots outside + Loop -->
  <app-carousel></app-carousel>
  <app-indoors-outdoors ></app-indoors-outdoors>
</div>

<section class="pop-section js-wp-2">
  <div class="row popular-items-header">

    <div class="col-3 header ">
      <span class="title fs-l fw-l">Popular</span>
      <span class="heading fs-xs fw-s ml-4">SHOP</span>
    </div>

    <div class="col-6 d-none-mob">
    </div>

    <div class="col pagination d-block">
      <div class="content text-right">
        <span class="previous fs-xs fw-m pl-2 pr-2 pointer" (click)="goToPreviousPop()">Previous</span>
        |
        <span class="next fs-xs fw-m pl-2 pr-2 pointer" (click)="goToNextPop()">Next</span>
      </div>
    </div>

  </div>

  <app-product-list [productsToShow]="productsToShow"></app-product-list>
</section>

<section id="collection-items">
  <div class="row collection-items-header">
    <div class="col-3 header">
      <span class="title fs-l fw-l">Collections</span>
      <span class="heading fs-xs fw-s ml-4">SHOP</span>
    </div>

    <div class="col-6 d-none-mob">

    </div>

    <div class="col pagination d-block">
      <div class="content text-right">
        <span class="previous fs-xs fw-m pl-2 pr-2 pointer" (click)="goToPreviousColl()">Previous</span>
        |
        <span class="next fs-xs fw-m pl-2 pr-2 pointer" (click)="goToNextColl()">Next</span>
      </div>

    </div>
  </div>
  <app-collections [catalogsToShow]="catalogsToShow"></app-collections>
</section>

<app-newsletter></app-newsletter>
