<div id="product-items" class="product-list js-wp-2">

  <div class="row popular-items-list">
    <div *ngFor="let product of productsToShow;let i =index ;trackBy:trackByFn"
         class="col-12 col-sm-4 col-md-3 popular-items-column">
      <div class="card" [ngClass]="getRandomBgClass(i)">
        <img [src]="product.img | imageSrc | safeHtml:'imgSrc'"
             onerror="this.onerror=null; this.src='assets/img/products/product2.png'">
      </div>
      <div class="footer">
        <div class="content">
          <span class="product-name">
            {{product.productName}}
          </span>
          <span class="product-owner">
            {{product.author}}
          </span>
          <span class="product-price d-block fw-s">
            {{product.price}} $
          </span>
        </div>
      </div>
    </div>
  </div>
